// variables de couleurs
// nb :
$violet: rgb(71, 10, 106);
$white: white;
$black: rgb(35, 35, 35);
$yellow: rgb(248, 219, 74);

// neural:
$primary: #265073;
$secondary: #2D9596;
$secondary-light: #9AD0C2;
$light: #F1FADA;