// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// font gaming
$headers-font: 'VT323', monospace;
$body-font: 'VT323', monospace;


// font neutre
$font-family: Verdana, Geneva, Tahoma, sans-serif;