<h1>kngbea1</h1>
<h1>kngbea2</h1>
<h1>kngbea3</h1>


<div data-controller="dropdown" data-dropdown-open-value="false" data-dropdown-target="activated" data-action="mouseenter->dropdown#toggleDropdown mouseleave->dropdown#toggleDropdown">
  <button>
    hover me
  </button>

  <div data-dropdown-target="dropdownContent" class="navbar-open-dropdown">
    <h1>this could be a tooltip!</h1>
  </div>
</div>

<div data-controller="dropdown" data-dropdown-open-value="false" data-dropdown-opened-class="bg-slate-300">
  <button data-dropdown-target="activated" data-action="mouseenter->dropdown#toggleDropdown mouseleave->dropdown#toggleDropdown">
    hover me
  </button>

  <div data-dropdown-target="dropdownContent" class="bg-red-500 fixed p-4 rounded-md">
    <h1>this could be a tooltip!</h1>
  </div>
</div>
