<div class="container">
  <div id="presentation"  >
    <h1 data-controller="typed" data-typed-text-value="Hi, I'm Eno LEROY." data-typed-loop-value="false">
    </h1>
    <h1 data-controller="typed" data-typed-text-value="I'm a Junior FullStack Developper.|I work on the Ruby on Rails framework." data-typed-loop-value="true">
    </h1>

  </div>
</div>