// Graphical variables
@import "config/fonts";
@import "config/colors";


// Your CSS partials
@import "pages/index";
@import "component/components";





// changes to the default

body {
  margin: 0px;
  background-color: $primary;
  color: $light;
  font-family: $body-font;
}


.container {
  margin: 7%;
}


// pour du responsive :

// @media(max-width: 992px) {
//   .cards {
//     grid-template-columns: 1fr 1fr;
//   }
// }