$button-primary-color: $secondary;
$button-primary-color-light: $secondary-light;
$button-primary-text-color: $light;

.button-link {
  text-decoration: none;
  border-radius: 5px;
  padding: 8px;
  color: $button-primary-text-color;
  border: 3px solid $button-primary-color-light;
  background-color: $button-primary-color;
  text-align: center;
  &:hover {
    border-color: $button-primary-color;
    background-color: $button-primary-color-light;
  }
}
