$navbar-font-family: $font-family;


.navbar {
  position: sticky;
  top: 0px;
  left: 0px;
  padding: 5px;
  padding-inline: 20px;
  width: auto;
  height: 40px;
  background-color: $secondary;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.navbar-name {
  text-align: center;
  color: $light;
  font-family: $navbar-font-family;
  text-decoration: none;
}

.navbar-tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $light;
  font-family: $navbar-font-family;
  a {
    margin-inline: 5px;
    color: $light;
    text-decoration: none;
  }
}

// .navbar-open-dropdown {
//   z-index: 1;
//   text-align: end;
//   position: absolute;
//   top: 40px;
//   left: 40ox;
//   margin: 0px;
//   margin-inline: 30px;
//   padding: 10px;
//   width: fit-content;
//   border: solid 1px;
//   color: black;
//   a {
//     color: black;
//   }
// }
